<% frontend = ENV.fetch("FRONTEND_URL") %>
<% accept_url = "#{frontend}/accept-invite?invitation_token=#{@token}" %>


<p>Hello <%= @resource.email %>,</p>
<p>You’ve been invited to learning journey with.</p>


<p>
  <a href="<%= accept_url %>">Accept invitation</a>
</p>

<p>If you didn't expect this, you can ignore this email.</p>
